@import url('https://fonts.googleapis.com/css2?family=Playwrite+US+Modern:wght@100..400&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: poppins, sans-serif;
}
body{
    background-image: linear-gradient(to right, #00113c, #000000, #00113c);
    opacity: 90%;
}

.box {
    height: 110vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.name {
    font-family: "Playwrite US Modern", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    color : rgb(255, 255, 255);
    font-size: 50px;
    text-shadow: 0 0 0.5rem rgb(255, 255, 255),
                 0 0 1rem rgb(255, 255, 255),
                 0 0 1.5rem rgb(255, 255, 255),
                 0 0 2.5rem cyan,
                 0 0 4rem cyan,
                 0 0 5.5rem cyan,
                 0 0 6rem cyan,
                 0 0 9.5rem cyan; 
    letter-spacing: 2px ;
}

#todos-input {
    height: 40px;
    width: 80vw;
    text-align: left;
    padding-left: 10px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 2px rgb(255, 255, 255),
                0 0 4px rgb(255, 255, 255),
                0 0 6px rgb(153, 210, 251),
                0 0 15px rgb(185, 255, 246);
    outline: none;
    opacity: 90%;
}

#todos-input:hover{
    box-shadow: 0 0 2px rgb(255, 255, 255),
                0 0 4px rgb(123, 215, 255),
                0 0 6px rgb(31, 157, 247),
                0 0 25px rgb(1, 255, 221);    
}


#add-btn {
    height: 40px;
    width: 100px;
    border-radius: 20px;
    border: none;
    box-shadow: offset 0 0 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    background-image: linear-gradient(rgb(201, 255, 255),rgb(165, 255, 255),#98f8ff,rgb(159, 255, 255),rgb(201, 255, 255));
    color: black;
    font-weight: bold;
    position: relative;
}

#add-btn::after {
    content: "";
    z-index: -1;
    position: absolute;
    height: 40px;
    width: 100px;
    background-color: rgb(146, 243, 243);
    top: 0;
    left: 0;
    border-radius: 20px;
    
}

#add-btn::before {
    content: "";
    background: linear-gradient(45deg, #D00000, #FFBA08, #3F88C5, #032B43, #136F63);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(10px);
    animation: glowing 10s linear infinite;
    transition: opacity 0.2s ease-in-out;
    border-radius: 20px;
    opacity: 1;
}
@keyframes glowing {
    0% { background-position: 10% 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
#add-btn:hover::before {
    opacity: 1;
}
#add-btn:active:after {
    background: transparent;
}
#add-btn:active {
    color: white;
    font-weight: bolder;

}

#todo-list {
    width: 300px;
    list-style-type: none;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;    
}

.container {
    height: 200px;
    width: 100vw;
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    align-items: center;
}

.dragging {
    opacity: 0.5;
}

.todo-item {
    height: 40px;
    width: 300px; /* Default width for items in status columns */
    border-radius: 5px;
    background-color: white;
    opacity: 90%;
    box-shadow: offset 0 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

#todo-list .todo-item {
    width: 80vw; /* Width for items in the initial list */
}


.todo-item button {
    height: 30px;
    width: 70px;
    border-radius: 15px;
    border: none;
    box-shadow: offset 0 0 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    background-image: linear-gradient(#ff5e5e,rgb(255, 43, 43),rgb(255, 0, 0),rgb(255, 43, 43),#ff5e5e);
    color: white;
    font-weight: bold;
}

.todo-item button:hover {
    background-image: linear-gradient(#c90000,rgb(209, 0, 0),rgb(197, 0, 0),rgb(203, 0, 0),#c70000);
}

.left {
    background-image: linear-gradient(#F1F7ED,#E0EEC6,#BCD8C1);
    border-radius: 10px; 
    height: 250px;
    width: 300px;
    margin-top: 5rem;
    padding: 15px;
    position: relative;
}

@property --angle {
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
}
.left::after, .left::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), 
    #FF0900, #A800FF, #0079FF, #00F11D, #FFEF00, #FF7F00, #FF0900 );
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    padding: 4px;
    border-radius: 15px;
    animation: spin 3s linear infinite;
}

@keyframes spin {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}

.left::before{
    filter: blur(.5rem);
    opacity: 0.7;
    animation: rotate 2s linear infinite;
}

.left li, .right li, .in-progress li, .done li {
    list-style-type: none;
    margin-top: 10px;
    width: 16rem;
}

#highPriority{
    color : rgb(255, 255, 255);
    text-shadow: rgb(255, 0, 0) 0px 0px 2px, 
                 rgb(255, 0, 0) 0px 0px 4px, 
                 rgb(255, 0, 0) 0px 0px 6px, 
                 rgb(195, 0, 0) 0px 0px 8px;
}

#lowPriority{
    color : rgb(255, 255, 255);
    text-shadow: rgb(23, 6, 255) 0px 0px 2px, 
                 rgb(32, 61, 255) 0px 0px 4px, 
                 rgb(53, 90, 255) 0px 0px 6px, 
                 rgb(0, 55, 255) 0px 0px 8px;
}

#inProgress{
    color : rgb(255, 255, 255);
    text-shadow: rgb(161, 131, 0) 0px 0px 2px, 
                 rgb(255, 255, 32) 0px 0px 4px, 
                 rgb(247, 255, 17) 0px 0px 6px, 
                 rgb(255, 208, 0) 0px 0px 8px;
}

#Done{
    color : rgb(255, 255, 255);
    text-shadow: rgb(0, 255, 0) 0px 0px 2px, 
                 rgb(0, 255, 128) 0px 0px 4px, 
                 rgb(38, 255, 0) 0px 0px 6px, 
                 rgb(5, 162, 0) 0px 0px 8px;
}